# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
bin/
.cert

# Architecture specific extensions/prefixes
*.exe
*.test
*.prof

# binary

# IDE specific

# Directory-based project format:
node_modules

# mac hidden files
.DS_Store

#other
.tmp
.sass-cache
.cache

# security / ssl
*.pem
*.xxjson

# Anything under a tmp folder
**/tmp/*
